<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/css/login.css">
</head>
<body>
<h2>Login failure, Please try again</h2>

<form action="login" method="post">

<input type="email" name="email" placeholder="Enter your email again">


<input type="password" name="password" placeholder="Enter your password again">

<button type="submit" value="LOGIN">Login</button>
</form>

</body>
</html>